html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ddd;
  line-height: 1.65;
  padding-bottom: 50rem;
}

/* Exercise 1 */
.firstContainer {
  width: 800px;
  margin: 2.5rem auto;
  background-color: #fff;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
}

.mainColumn {
  flex: 3;
  order: 2;
}

.firstSidebar {
  flex: 1;
  order: 1;
}

.secondSidebar {
  flex: 1;
  order: 3;
}

/* Exercise 2 */
.secondContainer {
  max-width: 800px;
  margin: 2.5rem auto;
}

.service {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.service.first {
  background-color: lightblue;
}

.service.second {
  background-color: yellow;
}

.service.third {
  background-color: tomato;
}

@media (min-width: 600px) {
  .secondContainer {
    display: flex;
    justify-content: space-between;
  }

  .service {
    width: 30%;
  }
}
